NODE_ENV=development
PORT=4000

# MongoDB
MONGO_URI=mongodb://localhost:27017/geh_events

# Auth
JWT_SECRET=cambiar_en_produccion_usar_secreto_largo_y_aleatorio
JWT_EXPIRES_IN=8h
BCRYPT_ROUNDS=12

# CORS
CORS_ORIGIN=http://localhost:4321

# Logs
LOG_LEVEL=info

# Admin inicial (para seed)
ADMIN_NAME=Administrador GEH
ADMIN_EMAIL=admin@gehsuites.com
ADMIN_PASSWORD=Admin123456!
